ZipUtilities/ZipUtilities.xcodeproj/project.xcworkspace/xcuserdata
ZipUtilities/ZipUtilities.xcodeproj/xcuserdata
docset-installed.txt
ZipUtilities.xcodeproj/project.xcworkspace/xcshareddata/ZipUtilities.xccheckout
ZipUtilities.xcodeproj/xcuserdata
ZipUtilities.xcodeproj/project.xcworkspace/xcuserdata
build
